{% from "_formhelpers.html" import render_field %}
{% extends "homepage.html" %}
{% block content %}
<br>
<h2>Create Asset</h2>
<div class="col-md-4 col-md-offset-1 padding-top">
  <form method='post'>
    <dl>
      {{ render_field(form.asset_type, class='form-control') }}
      {{ render_field(form.asset_name, class='form-control') }}
      {{ render_field(form.asset_number, class='form-control') }}
      {{ render_field(form.cost, class='form-control', type='number') }}
      {{ render_field(form.purchase_date, class='form-control', type='date') }}
      {{ render_field(form.description, class='form-control') }}
    </dl>
    <button class="btn btn-info" type="submit">Create</button>
  </form>
</div>

{% endblock %}
